<h1> All Cards </h1>

<ul>
<% @cards.each do |card|%>
    
<h4>Card Name: <a href="/cards/<%= card.id %>"><%= card.cardname %></a></h4>
<li>Card Type: <%= card.cardtype %> </li>
<li>Requirements: <%= card.requirements %> </li>
<p> By: <%= card.user.name %></p>
<br>
<% end %>
</ul>