<h2> This is your card to bring life to the game! Good luck out there! </h1>

<h4> Card Name:</h4>
<p><%= @cards.cardname %></p>
<h4> Card Type:</h4>
<p><%= @cards.cardtype %></p>
<h4>Description: </h4>
<p><%= @cards.requirements %></p>

<% if authorized_to_edit?(@cards)%>
    <a href="/cards/<%= @cards.id %>/edit"> Edit Entry</a>
<br>
<br>
<form calss="" action="/cards/<%= @cards.id %>" method="POST">
<input type= "hidden" name="_method" value="DELETE">
<input type= "submit" name="" value="Delete this Entry">
</form>

<% end %>
